.user {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 13px;
}

.user__name {
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
}

.user__img {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-size: cover;
  background-repeat: no-repeat;
}
